<div class="form-group">
	<label>Your subdomain</label>
	<input type="text" name="assigned_subdomain" value="{{ random_subdomain }}" readonly class="form-control"/>
	<small>This subdomain will be assigned to your hosting account.</small>
</div>
